@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  margin: 0px;
  font-family: 'PT Serif', serif!important;
  box-sizing: border-box;
  background-color: #FFFBEA;
}

/* .App {
  text-align: center;
} */

/* .bg1 {
  display: grid;
  background-image: url(./components/resources/images/office_chef_background1.jpg);
  background-size: cover;
}
.bg2 {
  display: grid;
  background-image: url(./components/resources/images/office_chef_background2.jpg);
  background-size: cover;
}
.bg3 {
  display: grid;
  background-image: url(./components/resources/images/office_chef_background3.jpg);
  background-size: cover;
}
.bg4 {
  display: grid;
  background-image: url(./components/resources/images/office_chef_background4.jpg);
  background-size: cover;
} */

/* .bg1 {
  background-image: url(./components/resources/images/background.jpg);
  background-size: 100% 120%;
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%;
  width: 130%; */
/* } */


.recipeTableLink {
  color: black;
  text-decoration: none;
  display: table-row;
  margin: 0px;
  height: 3rem;
  border-top: 2px outset #EADCA6!important;
  border-bottom: 2px outset #EADCA6!important;
}

.recipeTableLink:hover{
    background-color: #EADCA6;
};

.recipeTableLink:active{
    border-top: 2px inset black!important;
    border-bottom: 2px inset black!important;
};
